<div class=" flex flex-col box-border border-2 p-3">
	<title>Game Chat</title>
	<ul id="chatArea" class="chat-area flex flex-col" data-chat-id="{{enemyBoard.user.dataValues.id}}">
		{{!-- Enter in dynamically manipulated code from users as list items --}}
	</ul>
	<script src="/javascript/chat.js"></script>
</div>