 <div class="chat-area flex flex-col box-border border-2 p-3">
    <chat>
        john: hello yall, this is a chat-area
    </chat>
    <chat>
        john #2: Nice whats up bro?
    </chat>
    <chat>
        john: Nothing much wbu?
    </chat>
    <chat>
        john: ...Wow, just gonna ghost me?
    </chat>
</div>