<div class="flex flex-col w-80">
    <h3 class="text-2xl text-center">Join Game</h3>
    <a>
        <ul id="joinList" class="flex flex-col border-box">
            <!-- <li>
                <div class="flex flex-col text-center justify-center p-6 rounded-lg shadow-lg bg-white max-w-full">
                    <h4 class="text-black text-xl font-medium mb-2">User1</h4>
                    <button type="button" class="border-2 border-transparent rounded-xl outline hover:shadow-xl hover:brightness-200 hover:bg-sky-900  hover:shadow-black active:bg-sky-800">Join Game</button>
                </div>
            </li>
            <li>
                <div class="flex flex-col text-center justify-center p-6 rounded-lg shadow-lg bg-white max-w-full">
                    <h4 class="text-black text-xl font-medium mb-2">User1</h4>
                    <button type="button" class="border-2 border-transparent rounded-xl outline hover:shadow-xl hover:brightness-200 hover:bg-sky-900  hover:shadow-black active:bg-sky-800">Join Game</button>
                </div>
            </li>
            <li>
                <div class="flex flex-col text-center justify-center p-6 rounded-lg shadow-lg bg-white max-w-full">
                    <h4 class="text-black text-xl font-medium mb-2">User1</h4>
                    <button type="button" class="border-2 border-transparent rounded-xl outline hover:shadow-xl hover:brightness-200 hover:bg-sky-900  hover:shadow-black active:bg-sky-800">Join Game</button>
                </div>
            </li> -->
			{{#each joinList}}
			<li class="m-3">
				<div class="flex flex-col text-center justify-center p-6 rounded-lg shadow-lg bg-white max-w-full">
					<h4 class="text-black text-xl font-semibold">Game: {{this.gameId}}</h4>
					<p class="text-black text-base font-medium mb-2">{{this.enemy}}</p>
					<button id="{{this.gameId}}" type="button" class="border-2 border-transparent rounded-xl outline hover:shadow-xl hover:brightness-200 hover:bg-sky-900  hover:shadow-black active:bg-sky-800">Join Game</button>
				</div>
			</li>
			{{/each}}
        </ul>
    </a>
</div>
<script src="/javascript/join.js"></script>