<a class="flex flex-col box-border border-2 p-3">
    <ul class="flex flex-col">
        {{#each Game}}
            <li>
                <h3>{{board.owner}} vs. {{board.owner}}</h3>
                <h4>It is {{turn}}'s turn.</h4>
            </li>
        {{/each}}
        <li class="flex flex-col box-border border-2 hover:bg-black-500">
            <h3>user1 vs. user2</h3>
            <h4>It is user1's turn.</h4>
        </li>
        <li class="flex flex-col box-border border-2">
            <h3>user1 vs. user2</h3>
            <h4>It is user1's turn.</h4>
        </li>
    </ul>
</a>