
<div class="flex flex-col w-80">
    <h3>Resume Game</h3>
    <a>
        <ul class="flex flex-col  border-box">
            <li class="box-border border-2">
                <div class="flex flex-col">
                    <h4 class="flex bg-white text-sky-800 border-b-2 justify-center">User1 vs. User2</h4>
                    <p class="text-center">It is user1's turn</p>
                    <button class="box-border border-2 hover:brightness-200 hover:shadow-inner hover:shadow-white hover:bg-sky-900 active:bg-sky-800">Resume Game</button>
                </div>
            </li>
            <li class="box-border border-2">
                <div class="flex flex-col">
                    <h4 class="flex bg-white text-sky-800 border-b-2 justify-center">User1 vs. User2</h4>
                    <p class="text-center">It is user1's turn</p>
                    <button class="box-border border-2 hover:brightness-200 hover:shadow-inner hover:shadow-white hover:bg-sky-900 active:bg-sky-800">Resume Game</button>
                </div>
            </li>
            <li class="box-border border-2">
                <div class="flex flex-col">
                    <h4 class="flex bg-white text-sky-800 border-b-2 justify-center">User1 vs. User2</h4>
                    <p class="text-center">It is user1's turn</p>
                    <button class="box-border border-2 hover:brightness-200 hover:shadow-inner hover:shadow-white hover:bg-sky-900 active:bg-sky-800">Resume Game</button>
                </div>
            </li>
        </ul>
    </a>   
</div>