<div class="flex flex-col w-80">
    <h3>Resume Game</h3>
    <a class="flex- flex-col">
        <div class="flex flex-col text-center box-border border-2 mt-3">
            user1 vs. user2
            <br>
            It is user1's turn.
            <button class="box-border border-2">Resume Game</button>
        </div>
        <div class="flex flex-col text-center box-border border-2 mt-3">
            user1 vs. user2
            <br>
            It is user1's turn.
            <button class="box-border border-2">Resume Game</button>
        </div>
        <div class="flex flex-col text-center box-border border-2 mt-3">
            user1 vs. user2
            <br>
            It is user1's turn.
            <button class="box-border border-2">Resume Game</button>
        </div>
    </a>
</div>