<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChattleShip</title>
</head>
<body>
    <div>
        <header>
            <h1>
                <a href="/">ChattleShip</a>
            </h1>
        </header>
        <div>
            
        </div>
    </div>
</body>
<main>
    {{{body}}}
</main>
</html>