<div>
    <div class="game-builder h-full w-full flex flex-col">
        <div class="flex flex-row" id="board-builder">
            <div class="flex flex-col mr-2 ml-2" id="game-player">
                <h2>Player Board</h2>
                <div class="flex flex-row" id="A">
                    <div class="box-border border-2 pr-2 pl-2" id="A1">a1</div>
                    <div class="box-border border-2 pr-2 pl-2" id="A2">a2</div>
                    <div class="box-border border-2 pr-2 pl-2" id="A3">a3</div>
                    <div class="box-border border-2 pr-2 pl-2" id="A4">a4</div>
                    <div class="box-border border-2 pr-2 pl-2" id="A5">a5</div>
                    <div class="box-border border-2 pr-2 pl-2" id="A6">a6</div>
                    <div class="box-border border-2 pr-2 pl-2" id="A7">a7</div>
                    <div class="box-border border-2 pr-2 pl-2" id="A8">a8</div>
                    <div class="box-border border-2 pr-2 pl-2" id="A9">a9</div>
                    <div class="box-border border-2 pr-2 pl-2" id="A10">a10</div>
                </div>
                <div class="flex flex-row" id="B">
                    <div class="box-border border-2 pr-2 pl-2" id="B1">b1</div>
                    <div class="box-border border-2 pr-2 pl-2" id="B2">b2</div>
                    <div class="box-border border-2 pr-2 pl-2" id="B3">b3</div>
                    <div class="box-border border-2 pr-2 pl-2" id="B4">b4</div>
                    <div class="box-border border-2 pr-2 pl-2" id="B5">b5</div>
                    <div class="box-border border-2 pr-2 pl-2" id="B6">b6</div>
                    <div class="box-border border-2 pr-2 pl-2" id="B7">b7</div>
                    <div class="box-border border-2 pr-2 pl-2" id="B8">b8</div>
                    <div class="box-border border-2 pr-2 pl-2" id="B9">b9</div>
                    <div class="box-border border-2 pr-2 pl-2" id="B10">b10</div>
                </div>
                <div class="flex flex-row" id="C">
                    <div class="box-border border-2 pr-2 pl-2" id="C1">c1</div>
                    <div class="box-border border-2 pr-2 pl-2" id="C2">c2</div>
                    <div class="box-border border-2 pr-2 pl-2" id="C3">c3</div>
                    <div class="box-border border-2 pr-2 pl-2" id="C4">c4</div>
                    <div class="box-border border-2 pr-2 pl-2" id="C5">c5</div>
                    <div class="box-border border-2 pr-2 pl-2" id="C6">c6</div>
                    <div class="box-border border-2 pr-2 pl-2" id="C7">c7</div>
                    <div class="box-border border-2 pr-2 pl-2" id="C8">c8</div>
                    <div class="box-border border-2 pr-2 pl-2" id="C9">c9</div>
                    <div class="box-border border-2 pr-2 pl-2" id="C10">c10</div>
                </div>
                <div class="flex flex-row" id="D">
                    <div class="box-border border-2 pr-2 pl-2" id="D1">d1</div>
                    <div class="box-border border-2 pr-2 pl-2" id="D2">d2</div>
                    <div class="box-border border-2 pr-2 pl-2" id="D3">d3</div>
                    <div class="box-border border-2 pr-2 pl-2" id="D4">d4</div>
                    <div class="box-border border-2 pr-2 pl-2" id="D5">d5</div>
                    <div class="box-border border-2 pr-2 pl-2" id="D6">d6</div>
                    <div class="box-border border-2 pr-2 pl-2" id="D7">d7</div>
                    <div class="box-border border-2 pr-2 pl-2" id="D8">d8</div>
                    <div class="box-border border-2 pr-2 pl-2" id="D9">d9</div>
                    <div class="box-border border-2 pr-2 pl-2" id="D10">d10</div>
                </div>
                <div class="flex flex-row" id="E">
                    <div class="box-border border-2 pr-2 pl-2" id="E1">e1</div>
                    <div class="box-border border-2 pr-2 pl-2" id="E2">e2</div>
                    <div class="box-border border-2 pr-2 pl-2" id="E3">e3</div>
                    <div class="box-border border-2 pr-2 pl-2" id="E4">e4</div>
                    <div class="box-border border-2 pr-2 pl-2" id="E5">e5</div>
                    <div class="box-border border-2 pr-2 pl-2" id="E6">e6</div>
                    <div class="box-border border-2 pr-2 pl-2" id="E7">e7</div>
                    <div class="box-border border-2 pr-2 pl-2" id="E8">e8</div>
                    <div class="box-border border-2 pr-2 pl-2" id="E9">e9</div>
                    <div class="box-border border-2 pr-2 pl-2" id="E10">e10</div>
                </div>
                <div class="flex flex-row" id="F">
                    <div class="box-border border-2 pr-2 pl-2" id="F1">f1</div>
                    <div class="box-border border-2 pr-2 pl-2" id="F2">f2</div>
                    <div class="box-border border-2 pr-2 pl-2" id="F3">f3</div>
                    <div class="box-border border-2 pr-2 pl-2" id="F4">f4</div>
                    <div class="box-border border-2 pr-2 pl-2" id="F5">f5</div>
                    <div class="box-border border-2 pr-2 pl-2" id="F6">f6</div>
                    <div class="box-border border-2 pr-2 pl-2" id="F7">f7</div>
                    <div class="box-border border-2 pr-2 pl-2" id="F8">f8</div>
                    <div class="box-border border-2 pr-2 pl-2" id="F9">f9</div>
                    <div class="box-border border-2 pr-2 pl-2" id="F10">f10</div>
                </div>
                <div class="flex flex-row" id="G">
                    <div class="box-border border-2 pr-2 pl-2" id="G1">g1</div>
                    <div class="box-border border-2 pr-2 pl-2" id="G2">g2</div>
                    <div class="box-border border-2 pr-2 pl-2" id="G3">g3</div>
                    <div class="box-border border-2 pr-2 pl-2" id="G4">g4</div>
                    <div class="box-border border-2 pr-2 pl-2" id="G5">g5</div>
                    <div class="box-border border-2 pr-2 pl-2" id="G6">g6</div>
                    <div class="box-border border-2 pr-2 pl-2" id="G7">g7</div>
                    <div class="box-border border-2 pr-2 pl-2" id="G8">g8</div>
                    <div class="box-border border-2 pr-2 pl-2" id="G9">g9</div>
                    <div class="box-border border-2 pr-2 pl-2" id="G10">g10</div>
                </div>
                <div class="flex flex-row" id="H">
                    <div class="box-border border-2 pr-2 pl-2" id="H1">h1</div>
                    <div class="box-border border-2 pr-2 pl-2" id="H2">h2</div>
                    <div class="box-border border-2 pr-2 pl-2" id="H3">h3</div>
                    <div class="box-border border-2 pr-2 pl-2" id="H4">h4</div>
                    <div class="box-border border-2 pr-2 pl-2" id="H5">h5</div>
                    <div class="box-border border-2 pr-2 pl-2" id="H6">h6</div>
                    <div class="box-border border-2 pr-2 pl-2" id="H7">h7</div>
                    <div class="box-border border-2 pr-2 pl-2" id="H8">h8</div>
                    <div class="box-border border-2 pr-2 pl-2" id="H9">h9</div>
                    <div class="box-border border-2 pr-2 pl-2" id="H10">h10</div>
                </div>
                <div class="flex flex-row" id="I">
                    <div class="box-border border-2 pr-2 pl-2" id="I1">i1</div>
                    <div class="box-border border-2 pr-2 pl-2" id="I2">i2</div>
                    <div class="box-border border-2 pr-2 pl-2" id="I3">i3</div>
                    <div class="box-border border-2 pr-2 pl-2" id="I4">i4</div>
                    <div class="box-border border-2 pr-2 pl-2" id="I5">i5</div>
                    <div class="box-border border-2 pr-2 pl-2" id="I6">i6</div>
                    <div class="box-border border-2 pr-2 pl-2" id="I7">i7</div>
                    <div class="box-border border-2 pr-2 pl-2" id="I8">i8</div>
                    <div class="box-border border-2 pr-2 pl-2" id="I9">i9</div>
                    <div class="box-border border-2 pr-2 pl-2" id="I10">i10</div>
                </div>
                <div class="flex flex-row" id="J">
                    <div class="box-border border-2 pr-2 pl-2" id="J1">j1</div>
                    <div class="box-border border-2 pr-2 pl-2" id="J2">j2</div>
                    <div class="box-border border-2 pr-2 pl-2" id="J3">j3</div>
                    <div class="box-border border-2 pr-2 pl-2" id="J4">j4</div>
                    <div class="box-border border-2 pr-2 pl-2" id="J5">j5</div>
                    <div class="box-border border-2 pr-2 pl-2" id="J6">j6</div>
                    <div class="box-border border-2 pr-2 pl-2" id="J7">j7</div>
                    <div class="box-border border-2 pr-2 pl-2" id="J8">j8</div>
                    <div class="box-border border-2 pr-2 pl-2" id="J9">j9</div>
                    <div class="box-border border-2 pr-2 pl-2" id="J10">j10</div>
                </div>
            </div>
        </div>
    </div>
</div>