<section class="flex flex-col justify-center">
    <div class="flex justify-around">
        <div class="flex flex-col">
            <h3>Resume</h3>
            {{> resume}}
        </div>
        <div class="flex flex-col">
            <h3>Join</h3>
            {{> join}}
        </div>
    </div>
    <a href="/game/create"><button id="createGame" class="w-full border-2 border-transparent rounded-xl hover:brightness-200 hover:shadow-xl hover:shadow-black" type="submit">Create New Game</button></a>
</section>
