<section class="flex flex-col justify-center">
    <a href="/game/create"><button id="createGame" class="w-full border-2 border-transparent rounded-xl hover:brightness-200 hover:shadow-xl hover:shadow-black" type="submit">Create New Game</button></a>
    <div class="flex justify-around">
        {{> resume}}
        {{> join}}
    </div>
</section>
