<section class="flex justify-around">
    <div>
        <button id="resumeGame" type="submit">Resume</button>
        <a>
            <ul>
                {{!-- list area for resumable games --}}
            </ul>
        </a>
    </div>
    <div>
        <button id="joinGame" type="submit">Join</button>
        <a>
            <ul>
                {{!-- joinable games --}}
            </ul>
        </a>
    </div>
    <div>
        <button id="createGame" type="submit">Create</button>
    </div>
</section>
