<section class="flex justify-around ">
    <div class="flex flex-col">
        <button id="resumeGame" type="submit">Resume</button>
        <a>
            <ul class="flex flex-col">
                {{!-- list area for resumable games --}}
            </ul>
        </a>
    </div>
    <div class="flex flex-col">
        <button id="joinGame" type="submit">Join</button>
        <a>
            <ul class="flex flex-col">
                {{!-- joinable games --}}
            </ul>
        </a>
    </div>
    <div class="flex flex-col">
        <button id="createGame" type="submit">Create</button>
    </div>
</section>
