<section class="flex justify-around ">
    <div class="flex flex-col">
        <button id="resumeGame" class="border-2 border-transparent rounded-xl hover:brightness-200 hover:shadow-xl hover:shadow-black" type="submit">Resume</button>
        <a>
            <ul class="flex flex-col">
                {{!-- list area for resumable games --}}
            </ul>
        </a>
    </div>
    <div class="flex flex-col">
        <button id="joinGame" class="border-2 border-transparent rounded-xl hover:brightness-200 hover:shadow-xl hover:shadow-black" type="submit">Join</button>
        <a>
            <ul class="flex flex-col">
                {{!-- joinable games --}}
            </ul>
        </a>
    </div>
    <div class="flex flex-col">
        <button id="createGame" class="border-2 border-transparent rounded-xl hover:brightness-200 hover:shadow-xl hover:shadow-black" type="submit">Create</button>
    </div>
</section>
