<div class="game-area box-border border-2 h-full w-4/5 flex justify-around">
    <button class="border-2 my-44" type="submit"> Play Game </button>
    <button class="border-2 my-44" type="submit"> Instructions </button>
</div>
{{> chat}}