<div>
    <div class="game-area h-full w-full flex flex-col">
        <div class="flex flex-row" id="boards">
            <div class="flex flex-col mr-2 ml-2" id="game-enemy">
                <h2>Enemy Board</h2>
                <div class="flex flex-row justify-between" id="number-grid">
                    <div class="flex flex-col w-10 pr-2 pl-2" id="0"></div>
                    <div class="flex flex-col w-10 pr-2 pl-2" id="1">1</div>
                    <div class="flex flex-col w-10 pr-2 pl-2" id="2">2</div>
                    <div class="flex flex-col w-10 pr-2 pl-2" id="3">3</div>
                    <div class="flex flex-col w-10 pr-2 pl-2" id="4">4</div>
                    <div class="flex flex-col w-10 pr-2 pl-2" id="5">5</div>
                    <div class="flex flex-col w-10 pr-2 pl-2" id="6">6</div>
                    <div class="flex flex-col w-10 pr-2 pl-2" id="7">7</div>
                    <div class="flex flex-col w-10 pr-2 pl-2" id="8">8</div>
                    <div class="flex flex-col w-10 pr-2 pl-2" id="9">9</div>
                    <div class="flex flex-col w-10 pr-2 pl-2" id="10">10</div>
                </div>
                <div class="flex flex-row" id="A">
                    <div class="pr-2 pl-2" id="LA">A</div>
                    <div class="flex flex-col w-11 box-border border-2" id="A1"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="A2"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="A3"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="A4"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="A5"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="A6"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="A7"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="A8"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="A9"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="A10"></div>
                </div>
                <div class="flex flex-row" id="B">
                    <div class="pr-2 pl-2" id="LB">B</div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="B1"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="B2"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="B3"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="B4"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="B5"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="B6"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="B7"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="B8"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="B9"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="B10"></div>
                </div>
                <div class="flex flex-row" id="C">
                    <div class="pr-2 pl-2" id="LC">C</div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="C1"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="C2"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="C3"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="C4"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="C5"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="C6"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="C7"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="C8"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="C9"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="C10"></div>
                </div>
                <div class="flex flex-row" id="D">
                    <div class="pr-2 pl-2" id="LD">D</div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="D1"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="D2"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="D3"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="D4"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="D5"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="D6"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="D7"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="D8"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="D9"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="D10"></div>
                </div>
                <div class="flex flex-row" id="E">
                    <div class="pr-2 pl-2" id="LE">E</div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="E1"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="E2"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="E3"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="E4"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="E5"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="E6"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="E7"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="E8"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="E9"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="E10"></div>
                </div>
                <div class="flex flex-row" id="F">
                    <div class="pr-2 pl-2" id="LF">F</div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="F1"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="F2"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="F3"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="F4"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="F5"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="F6"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="F7"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="F8"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="F9"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="F10"></div>
                </div>
                <div class="flex flex-row" id="G">
                    <div class="pr-2 pl-2" id="LG">G</div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="G1"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="G2"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="G3"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="G4"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="G5"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="G6"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="G7"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="G8"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="G9"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="G10"></div>
                </div>
                <div class="flex flex-row" id="H">
                    <div class="pr-2 pl-2" id="LH">H</div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="H1"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="H2"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="H3"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="H4"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="H5"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="H6"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="H7"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="H8"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="H9"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="H10"></div>
                </div>
                <div class="flex flex-row" id="I">
                    <div class="pr-2 pl-2" id="LI">I</div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="I1"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="I2"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="I3"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="I4"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="I5"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="I6"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="I7"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="I8"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="I9"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="I10"></div>
                </div>
                <div class="flex flex-row" id="J">
                    <div class="pr-2 pl-2" id="LJ">J</div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="J1"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="J2"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="J3"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="J4"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="J5"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="J6"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="J7"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="J8"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="J9"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="J10"></div>
                </div>
                <div>
                    Target:<input class="border-2" type="text" name="Target" id="target-input">
                    <Button class="border-2 mt-2" type="submit">FIRE!</Button>
                </div>
            </div>
            <div class="flex flex-col mr-2 ml-2" id="game-player">
                <h2>Player Board</h2>
                <div class="flex flex-row justify-between" id="number-grid">
                    <div class="flex flex-col w-10 pr-2 pl-2" id="0"></div>
                    <div class="flex flex-col w-10 pr-2 pl-2" id="1">1</div>
                    <div class="flex flex-col w-10 pr-2 pl-2" id="2">2</div>
                    <div class="flex flex-col w-10 pr-2 pl-2" id="3">3</div>
                    <div class="flex flex-col w-10 pr-2 pl-2" id="4">4</div>
                    <div class="flex flex-col w-10 pr-2 pl-2" id="5">5</div>
                    <div class="flex flex-col w-10 pr-2 pl-2" id="6">6</div>
                    <div class="flex flex-col w-10 pr-2 pl-2" id="7">7</div>
                    <div class="flex flex-col w-10 pr-2 pl-2" id="8">8</div>
                    <div class="flex flex-col w-10 pr-2 pl-2" id="9">9</div>
                    <div class="flex flex-col w-10 pr-2 pl-2" id="10">10</div>
                </div>
                <div class="flex flex-row" id="A">
                    <div class="pr-2 pl-2" id="LA">A</div>
                    <div class="flex flex-col w-11 box-border border-2" id="A1"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="A2"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="A3"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="A4"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="A5"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="A6"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="A7"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="A8"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="A9"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="A10"></div>
                </div>
                <div class="flex flex-row" id="B">
                    <div class="pr-2 pl-2" id="LB">B</div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="B1"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="B2"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="B3"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="B4"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="B5"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="B6"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="B7"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="B8"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="B9"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="B10"></div>
                </div>
                <div class="flex flex-row" id="C">
                    <div class="pr-2 pl-2" id="LC">C</div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="C1"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="C2"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="C3"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="C4"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="C5"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="C6"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="C7"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="C8"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="C9"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="C10"></div>
                </div>
                <div class="flex flex-row" id="D">
                    <div class="pr-2 pl-2" id="LD">D</div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="D1"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="D2"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="D3"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="D4"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="D5"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="D6"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="D7"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="D8"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="D9"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="D10"></div>
                </div>
                <div class="flex flex-row" id="E">
                    <div class="pr-2 pl-2" id="LE">E</div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="E1"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="E2"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="E3"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="E4"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="E5"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="E6"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="E7"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="E8"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="E9"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="E10"></div>
                </div>
                <div class="flex flex-row" id="F">
                    <div class="pr-2 pl-2" id="LF">F</div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="F1"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="F2"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="F3"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="F4"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="F5"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="F6"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="F7"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="F8"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="F9"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="F10"></div>
                </div>
                <div class="flex flex-row" id="G">
                    <div class="pr-2 pl-2" id="LG">G</div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="G1"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="G2"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="G3"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="G4"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="G5"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="G6"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="G7"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="G8"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="G9"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="G10"></div>
                </div>
                <div class="flex flex-row" id="H">
                    <div class="pr-2 pl-2" id="LH">H</div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="H1"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="H2"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="H3"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="H4"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="H5"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="H6"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="H7"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="H8"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="H9"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="H10"></div>
                </div>
                <div class="flex flex-row" id="I">
                    <div class="pr-2 pl-2" id="LI">I</div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="I1"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="I2"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="I3"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="I4"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="I5"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="I6"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="I7"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="I8"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="I9"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="I10"></div>
                </div>
                <div class="flex flex-row" id="J">
                    <div class="pr-2 pl-2" id="LJ">J</div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="J1"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="J2"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="J3"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="J4"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="J5"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="J6"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="J7"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="J8"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="J9"></div>
                    <div class="flex flex-col w-11 box-border border-2 pr-2 pl-2" id="J10"></div>
                </div>
            </div>
            {{> chat}}
        </div>
    </div>
</div>