<div class="flex flex-col w-full h-full border-2 box-border p-12 md:flex-row md:justify-between">
    <div class="game-area box-border border-2 h-full w-4/5 flex justify-around">
        <button class="border-2 my-44" type="submit"> Play Game </button>
        <button class="border-2 my-44" type="submit"> Instructions </button>
    </div>
    <div class="chat-area flex flex-col box-border border-2 p-3">
        <chat>
            john: hello yall, this is a chat-area
        </chat>
        <chat>
            john #2: Nice whats up bro?
        </chat>
        <chat>
            john: Nothing much wbu?
        </chat>
        <chat>
            john: ...Wow, just gonna ghost me?
        </chat>
    </div>
</div>