<div class="flex flex-col sm:flex-row justify-around">
    <div>
        <h3>Account</h3>
        <h4>{{user_name}}</h4>
        <h4>Profile created on:{{user.createdat}}</h4>
    </div>
    {{> resume}}
</div>