<div class="flex flex-col sm:flex-row justify-around">
    <div>
        <h3>Account</h3>
        <h4>{{user_name}}</h4>
        <h4>Profile created on:{{user.createdat}}</h4>
    </div>
    <div>
        <h3>Resume Game</h3>
        {{> resume}}
    </div>
    <div>
        <h3>Chat</h3>
        {{! Add Chat Partial}}
        {{> chat }}
    </div>
</div>